body{
    background-color:lightgray;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: table;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
h1{
    color:palevioletred
}
h2{
    color:green
}

#header{
    background-color: darkgray;
}

#footer{
    background-color: darkgrey;
}

ul{
    display: table;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

ol{
    display: table;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
